.inputWrapper {
  width: 100%;
  &.wrapperError{
    .input{
      border: 1px solid #F5222D;
      color: #F5222D;
      &:focus{
        border: 1px solid #F5222D;
        box-shadow: 0 0 4px rgba(245, 34, 45, 0.5);
        color: #595959;
      }
    }
  }
}

.title {
  font-size: 14px;
  line-height: 22px;
}

.input {
  width: 100%;
  height: 40px;
  padding: 12px 8px;
  font-size: 16px;
  line-height: 24px;
  display: block;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  color: #595959;
  transition: 0.2s ease-out;
  outline: none;
  margin: 2px 0;
  &:hover{
    border: 1px solid #40A9FF;
  }
  &:focus{
    border: 1px solid #40A9FF;
    box-shadow: 0 0 4px rgba(24, 144, 255, 0.5);
  }
  &::placeholder{
    color: #BFBFBF;
  }
  &:disabled{
    background-color: #F5F5F5;
    border: 1px solid #D9D9D9;
    color: #BFBFBF;
  }
}

.error {
  font-size: 14px;
  line-height: 22px;
  color: #F5222D;
}