@import "/src/styles/media";

.button{
  background-color: #1890FF;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: unset;
  color: white;
  width: 100%;
  height: 40px;
  outline: none;
  @include desctop{
    max-width: 360px;
    width: 100%;
  }
  &:hover{
    background-color: #40A9FF;;
  }
  &:active{
    background-color: #096DD9;
  }
  &:disabled{
    background-color: #E8E8E8;
    border: 1px solid #D9D9D9;
  }
}