.inputWrapperGroup {
  margin: 40px 0 40px;
  border: unset;
  padding: unset;
}

.inputWrapperGroupTitle {
  margin-bottom: 25px;
}

.label {
  font-weight: 600;
  font-size: 22px;
  line-height: 38px;
}

.error {
  margin-left: 6px;
  font-size: 14px;
  line-height: 22px;
  color: #F5222D;
}

.title {
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}

.inputWrapper {
  margin-right: 40px;
}

.input {

}