@import "media";
.page{
  padding: 75px 16px 80px;
  @include desctop{
    max-width: 928px;
    margin: 0 auto;
    padding: 85px 0 80px;
  }
  .title{
    font-weight: 500;
    font-size: 40px;
    line-height: 38px;
    margin: 35px 0 39px;
    @include desctop{
      margin: 35px 0 49px;
      font-weight: bold;
    }
  }
  .personalBlock{
    @include desctop {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 80px;
      grid-row-gap: 25px;
      max-width: 592px;
    }
  }
  .githubBlock{
    margin-top: 51px;
  }
  .subTitle{
    font-weight: 600;
    font-size: 22px;
    line-height: 38px;
    margin-bottom: 24px;
  }
  .checkBox{
    margin-top: 25px;
  }
  .send{
    margin-top: 17px;
  }
  .githubInput{
    width: 256px;
  }
}