.fieldset {
  border: unset;
  margin: 0 0 24px;
  padding: 0;
}

.grid{
  padding-top: 23px;
}

.title {
  font-weight: 600;
  font-size: 22px;
  line-height: 38px;
  margin-bottom: 24px;
  .error {
    margin-left: 6px;
    font-size: 14px;
    line-height: 22px;
    color: #F5222D;
  }
}
