.inputWrapper {
  width: 100%;
}
.title{
  font-size: 14px;
  line-height: 22px;
}
.input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  & + .label {
    background: #F5F5F5;
    border: 1px dashed #D9D9D9;
    box-sizing: border-box;
    border-radius: 2px;
    margin: 2px 0;
    height: 40px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #595959;
    transition: 0.2s ease-out;

    & * {
      pointer-events: none;
    }
  }

  &:focus + .label,
  & + .label:hover {
    //border: 1px dashed #D9D9D9;
    border: 1px dashed #40A9FF;
  }
}
.file{
  background: #E6F7FF;
  height: 22px;
  width: 100%;
  display: flex;
  font-size: 14px;
  line-height: 22px;
  color: #1890FF;
  align-items: center;
  padding: 0 5px;
  border: unset;
  outline: unset;
}
.iconAttach{
  margin-right: 10px;
}
.deleteFile{
  margin-left: auto;
}