.inputWrapperGroup {
  margin-top: 40px;
}

.label {

}

.inputWrapper {

}

.input {

}

.title {
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}

.error {
  display: block;
  font-size: 14px;
  line-height: 22px;
  color: #F5222D;
  margin-top: 2px;
}